@import '../../../sass/colors.scss';

.board {
    min-height: 110px;
    margin: 5px;
    background-color: $grey;
    border: 3px solid $orange;
    text-align: center;
    width: 100px;
    height: 150px;
    overflow: auto;

    h4 {
        background-color: $orange;
        padding: 6px;
    }
}