@import '../../../sass/colors.scss';

.board {
            overflow: auto;
            padding: 5px;
            background-color: $grey;
            min-height: 200px;
            min-width: 200px;
}