.line {
            display: flex;



            h3 {
                        align-self: center;
            }

            .board {
                        flex-grow: 1;
            }
}