@import '../../../sass/colors.scss';

.employee {
    background-color: $white;
    margin: 2px;
    text-align: center;
    padding: 5px;
    cursor: grab;

    &.drag {
        opacity: .2;
        cursor: grabbing;
    }
}