@import './sass/variables.scss';
@import "~bootstrap/scss/bootstrap";

.App {
    display: flex;

    .mainNavbar {
        width: 140px;
    }

    .page {
        min-height: calc(100vh - var(--navHeight));
    }
}